<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="./main.css" />
	</head>
	<body class="bg-gray-300">
		<div class="grid md:grid-cols-3 sm:grid-cols-1">
			<% for( let index = 0; index < 5; index++ ) { %>
			<h1 class="text-red-600 font-normal text-sm m-4 p-2 bg-gray-100 rounded">
				This is the resume page
			</h1>
			<% } %>
		</div>
	</body>
</html>
